version: 2
jobs:
  build:
    working_directory: ~/project
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run:
          name: Run tests
          command: |
            pip install -e '.[dev]'
            nose -v